<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="yomikata">

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
        <Action name="file_open" />
        <Separator/>
        <Action name="page_left" />
        <Action name="page_right" />
        <Separator/>
        <Action name="fullscreen" />
        <Action name="options_show_menubar" />
    </ToolBar>

    <MenuBar>
        <Menu name="navigate"><text>&amp;Navigate</text>
            <Action name="page_left" />
            <Action name="page_right" />
            <Action name="page_to_start" />
            <Action name="page_to_end" />
        </Menu>
        <Menu name="view"><text>&amp;View</text>
            <Action name="fullscreen" />
            <Separator/>
            <Action name="zoom_toggle" />
            <Action name="zoom_in" />
            <Action name="zoom_out" />
            <Action name="single_page" />
            <Action name="comics_view" />
            <Action name="manga_view" />
        </Menu>
    </MenuBar>

</gui>
